<%user = @invite.invitor%>
<style>
</style>
<div style="width:320px; color:#333; font-size: 18px; line-height:125%; padding-top: 36px;">
    <div style="padding: 0 20px;">
        <div>
            <img src="<%=user.display_photo.square%>" style="margin-right: 10px; width:64px; height:64px; vertical-align: top;"/>
            <span style="font-size:18px; color:#292929; "><%=user.display_name%></span>
        </div>
    <img src="/images/triangle.png" style="margin-left: 22px; margin-top:7px; width: 24px;"/>
    <div class="rc3" style="background-color: #f8f8f8;">
        <div style="padding:10px; border-bottom: solid 1px #d3d3d3;">
            <div style="font-size:16px; line-height: 125%;">
            <%if @invite.invitee_id%>
                <img src="<%=@invite.invitee.display_photo.square%>" style="float: right; margin-left: 10px; width:50px; height:50px; vertical-align: top;"/>
                <%_code = @invite.invite_code%>
                <%_name = @invite.invitee.name%>
                <%=__(_('Oops, this invite #{_code} is invalid. It was used by #{_name}'),binding) %>
                <div style="clear:both"></div>
            <%else%>
                <%=_('Hey there, I am using Swably to share apps for Andoird phones with my friends. Come on join Swably and follow me.')%><br/>
            <%end%>
            </div>
        </div>
        <%download_link = session[:lang]=='zh' ? 'http://zh.swably.com/downloads/swably_zh.apk' : 'http://play.google.com/store/apps/details?id=goofy2.swably'%>
         <a href="<%=download_link%>" class="btn" >
            <div style="padding:10px;" class="btn brc3">
                <img src="/images/download.png" style="margin-right: 10px; height:48px; vertical-align: middle;" />
                <span style="font-size:16px;" ><%=_('Download Swably')%></span>
            </div>
        </a>
    </div>
</div>
    <%=render(:partial =>  'layouts/home_btn') %>
    