<style type="text/css">
    img {vertical-align: top;}
    .round_avatar{
        -moz-border-radius: 48px;
        -khtml-border-radius: 48px;
        -webkit-border-radius: 48px;
        border-radius: 48px;
        width: 96px;
    }
    .round_avatar_bg{
        -moz-border-radius: 58px;
        -khtml-border-radius: 58px;
        -webkit-border-radius: 58px;
        border-radius: 58px;
        width: 96px;
        height: 96px;
        padding: 10px;
        background: #b7b7b7;
    }

</style>
<div style="width: 100%; position: absolute;">
    <a href="/" >
        <div style="width: 100%; position: absolute;" align="right">
            <div style="padding: 20px;" >
                <span style="color: #fff; font-size: 36px; line-height: 100%;"><%=t :lets_swap_apps%></span>
                <img src="/images/small_logo.png" height="60px" style="vertical-align: top; margin-left: 30px;" />
            </div>
        </div>
    </a>
    <div style="position: relative; width: 720px; margin: 0 auto; padding-top: 45px; color: #b7b7b7;">
        <%if @comment%>
            <%user = @comment.user%>
            <%#user.name="Anthony Bourdain"%>
            <%app = @comment.app%>
            <%app_name = app.local_name(params[:lr]||session[:code])%>
            <%@page_title=app_name%>
            <%@page_author=user.display_name%>
            <%@page_description=@comment.content%>
            <%@page_image=@comment.image ? Photo.new(@comment.image).thumbnail : app.display_icon.thumbnail%>
            <div class="round_avatar_bg" style="position: relative; margin: 0 auto; z-index: 20;"><img src="<%=user.display_photo.square%>" class="round_avatar" /></div>
            <div class="rc10" style="background: #000; position: relative; top: -60px; ">
                <div style="color: #888; font-size:18px; margin-top: 10px; margin-right: 15px;" class="rfloat"><%=time_ago_in_words @comment.created_at%></div>
                <div style="text-align: center; margin-bottom: 15px; padding-top: 80px;">
                    <div style="font-size: 36px;"><b><%=user.display_name%></b></div>
                    <div class="clear"></div>
                </div>
                <div style="padding:20px; border-bottom: solid 1px #939393;">
                    <div style="color: #888; font-size:36px; line-height: 125%;"><%=@comment.content%></div>
                    <br/><br/>
                    <div style="margin-top: 5px;">
                        <img src="<%=app.display_icon.thumbnail%>" class="icon" style="width: 96px; height: 96px;" />
                        <div>
                            <span style="font-size:36px; line-height: 120%;"><b><%=app_name%></b></span><br/>
                            <span style="font-size:18px; line-height: 150%; display: none; ">
                                <%#=_('Size')%> <%#="%.2fMB"%(app[:size]/1024.0/1024.0)%>
                            </span>
                        </div>
                        <div style="clear:both" ></div>
                    </div>
                </div>        
                <%=render(:partial =>  'shared/download_app', :locals => {:app => app}) %>
            </div>
        <%else%>
            <%=_('No record or deleted')%>
        <%end%>
    </div>
    <%if @comment.image%>
    <div style="background: #000; margin-top: -40px;">
        <div style="padding: 20px; width: 680px; margin: 0 auto;">
            <img src="<%=Photo.new(@comment.image).large%>" width="100%"/>
        </div>
    </div>
    <%end%>
</div>
<div style="height: 100%; min-width: 1085px; min-height: 768px; overflow: hidden; ">
    <img width="100%" src="/images/back.jpg" />
</div>