<style>
    body {height: auto; min-height: 100%;}
    .frame2 {width: 100%; max-width: 500px; margin: 0 auto; }
</style>
<div style="padding: 8px 0px; background: url(/images/header_bg.png);">
    <div class="frame head_color" style="font-size: 14px;">
        <div class="xpadding">
            <img src="/images/logo.png" class="float"/>
            <div class="rfloat" style="margin-top: 15px;">
                <a href="/"><%=_('More about Swably...')%></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="frame2" style="padding-top: 30px;">
    <div class="xpadding">
        <%=_('You have unsubscribed successfully.')%>&nbsp;
        <a href="/settings/subscribe?email=<%=@email%>" style="text-decoration: underline"><%=_('Undo')%></a>
    </div>
</div>
<div style=" width: 100%; background: url(/images/belt.png) bottom center; position: absolute; bottom: 0px;">
    <div class="frame" >
        <div class="xpadding">
            <br/>
            <%=render(:partial =>  'default/download') %>
            <br/>
        </div>
    </div>
</div>