<style type="text/css">
    html, body, #content, #body {height: 100%;}
    img {vertical-align: top;}
    .round_avatar{
        -moz-border-radius: 25px;
        -khtml-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        width: 50px;
    }
    .round_avatar_bg{
        -moz-border-radius: 30px;
        -khtml-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        width: 50px;
        height: 50px;
        padding: 5px;
        background: #b7b7b7;
    }

</style>
    <div style="color: #b7b7b7; min-height: 100%; border-top: solid 1px transparent;">
        <%if @app%>
            <%app = @app%>
            <%app_name = app.local_name(params[:lr]||session[:code])%>
            <%@page_title=app_name%>
            <%@page_author=""%>
                <div style="text-align: center; margin-top: 20px; ">
                    <div style="margin: 0 auto; margin-bottom: 12px;"><img src="<%=app.display_icon.thumbnail%>" style="width: 48px; height: 48px;" /></div>
                    <div style="font-size: 18px;">
                        <b><%=app_name%></b>
                    </div>
                </div>
                <div style="padding:30px; border-bottom: solid 1px #939393;">
                    <span style="font-size:24px; line-height: 120%;"><b><%=app.description%></b></span>
                </div>        
                <%=render(:partial =>  'shared/download_app', :locals => {:app => app}) %>
        <%else%>
            <%=_('No record or deleted')%>
        <%end%>
        <div style="width: 100%; height: 70px; "></div>
    </div>
    
    <div style="width: 100%; margin-top: -70px;" align="right">
        <a href="/"><img src="/images/corner.png" height="70px"/></a>
    </div>

