    <HEAD>
        <TITLE><%#=[@page_title, 'Swably - Upload, Download, and Share Mobile Apps Socially'].compact.join(' - ')%>
            <%=@page_title%>
        </TITLE>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <META name="keywords" content="swably, upload, download, share, mobile, review, apps, android APK, peer to peer, P2P share app, review app, cloud, send app, without app store, without play store, free, rate, twitter for apps, apk sharing, swaply, social sharing, aps, review, adroid files, custom "/>    
        <META name="description" content="<%=@page_description%>">
        <META name="author" content="<%=@page_author%>" >
        <meta property="og:title" content="<%=@page_title%>"/>
        <meta property="og:description" content="<%=@page_description%>"/>
         <meta property="og:image" content="<%=@page_image%>"/>


        <%if session[:m] == "_m"%>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <%end%>
        <meta name="alexaVerifyID" content="f4I5zaMCU9seVDYJmPVzTorDSdQ" />
        <link rel="shortcut icon" href="/icon16.png" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    </HEAD>
